* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: linear-gradient(135deg, #6eada5, #b54bb7, #5dbdce);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    color: white;
}

.stopwatch-container {
    background: rgba(87, 45, 45, 0.829);
    padding: 35px;
    border-radius: 15px;
    text-align: center;
    backdrop-filter: blur(10px);
    box-shadow: 0 8px 35px rgba(0, 0, 0, 0.6);
    border: 5px solid transparent;
    border-image: linear-gradient(45deg, #36899e, #cb737a, #61a299) 1;
    position: relative;
}
.stopwatch-container::before,
.stopwatch-container::after {
    content: "";
    position: absolute;
    top: -5px; 
    width: 8px; 
    height: calc(100% + 10px); 
    background: linear-gradient(180deg, #b5c1c5, #cdbabc, #99a7a5);
    filter: blur(8px);
    opacity: 0.8;
    z-index: -1; 
}

.stopwatch-container::before {
    left: -8px; 
}

.stopwatch-container::after {
    right: -8px;
}

h1  {
    font-family: 'Times New Roman', Times, serif;
    font-size: 2.5rem;
    font-weight: bold;
    color: white;
    background: rgba(255, 255, 255, 0.15); 
    margin-bottom:15px;
    padding: 10px ;
    border-radius: 10px;
    display: inline-block;
    backdrop-filter: blur(10px); 
    border: 1px solid rgba(255, 255, 255, 0.3); 
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); 
}
.icon {
    width: 35px; 
    height: 40px;
}
.display {
    font-family: 'Times New Roman', Times, serif;
    font-size: 3rem;
    letter-spacing:2px;
    margin-bottom: 20px;
    background: rgba(255, 255, 255, 0.2);
    padding: 15px 15px 15px 15px;
    border-radius: 10px;
}

.buttons button {
    background: linear-gradient(135deg, #ffaf7b, #d76d77);
    color: white;
    padding: 12px 28px;
    margin: 5px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    transition: 0.3s;
}
.buttons button:hover {
    box-shadow: 0 0 20px rgba(255, 175, 123, 0.7);
    transform: scale(1.05);
}


#startBtn {
    background: #487d51;
    color: white;
}

#pauseBtn {
    background: #ff9900d7;
    color: white;
}

#resetBtn {
    background: #c7352be9;
    color: white;
}

.buttons button:hover {
    transform: scale(1.05);
    opacity: 0.9;
}